<!DOCTYPE html>
{% load static %}  {# 템플릿 태그로 정적파일을 메모리로 불러들인다는 명령 #}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 부트스트랩 최신 버전으로 변경 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Gaegu|Gothic+A1|Gugi|Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1ef69ce844.js" crossorigin="anonymous"></script>
    <title>장고걸스 튜토리얼</title>
</head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}  <!-- 로그인한 사용자에게만 보이도록 -->
        <!--http: ... 이런 식으로 다 쓸 필요 없이 urlpatterns에서 지정한 이름만 불러주면 됨(reverseMatch)-->
        <a href="{% url 'post_new' %}" class="top-menu"><i class="fas fa-plus"></i></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu"><i class="fas fa-edit"></i></a>
        {% endif %}
        <a href="/admin" class="top-menu"><i class="fas fa-lock"></i></a>
        <a href="{% url 'post_list' %}" class="top-menu"><i class="fas fa-list-ul"></i></a>
        <h1><a href="/">장고걸스 블로그 <i class="fas fa-moon"></i></a></h1>
    </div>
<div class="content container">
    <div class="row">
        <div class="col-md-11">  <!-- 부트스트랩 그리드 시스템 -->
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>